.background-image {
    background-image: url('../images/auth_background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    
  }
  
  .login-header h1 {
    font-size: 2rem;
    color: #0056b3;
  }
  
  .login-header p {
    font-size: 1.25rem;
    color: #333;
    margin: 10px 0;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #333;
    font-size: 0.875rem;
  }
  
  .login-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  .checkbox-wrapper {
    display: flex;
    align-items: center;
  }
  .login-form button {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-footer {
    margin-top: 15px;
  }
  
  .login-footer a {
    color: #F2451C;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
  
  .login-footer p {
    color: #333;
  }
  .captcha-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .captcha-image {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-family: monospace;
    font-size: 18px;
  }
  
  .captcha-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .refresh-captcha {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
  }
  
